.card {
    margin: 0 auto;
    float: none;
}

section#feature {
    background-color: #3B3B3B;

}
section#colum-1 {
    background-color: #181818;
    
}

.jumbotron {
    margin-bottom: 0;
}

section#background {
	padding: 200px;
	background-image: url(https://pbs.twimg.com/profile_images/1085006270212526081/rjqtRfOm_400x400.jpg);
	background-repeat: no-repeat;
	background-position: center;
	}
